@charset "utf-8";

html {
	font-size:100.01%; ;
}
body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption, button {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
table {
	width:100%;
	border-collapse: collapse;
	font-size:1em;
}

a:link, a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:underline;
}
fieldset {
	border:0;
}
legend {
	display:none;
}
select, input, textarea {
	font:normal 1em "애플고딕", AppleGothic, "굴림", gulim, Arial, Verdana, sans-serif;
	color:#797b80;
	vertical-align:middle;
}
em {
	font-style: normal;
}
hr {
	clear:both;	
	height:0; 
	visibility:hidden; 
	overflow:hidden;
	display: none;
}
header { background-color: black; padding:22px 0 6px;  margin:0 auto;}
main { background-color: #262629; height:1000px;padding:0 4.705882%; /* 72/1530 */}
.contents { max-width: 1530px; margin:0 auto;}
/* common css */
.sub span.arrow_down { position: relative;}
.sub span.arrow_down::after { content:''; position: absolute; top:4px; right:-13px;border-bottom:4px solid transparent; border-top:4px solid #818088; border-right:4px solid transparent; border-left:4px solid transparent;}
.visibilityHidden { position: absolute; width:1px; overflow: hidden;}

/* header */
header nav { max-width: 1530px; margin: 0 auto; padding:0 6.559767% /* 90/1372 */ 0 9.475219%; /*130/1372 */ box-sizing: border-box; }
header nav::after { content:''; display: block; clear: both;}

.sony_logo { width:95px; float:left; margin-right: 34px; margin-top:8px;}
.sony_logo a { height:17px; display:block;}
.sony_logo svg { width:100%; vertical-align: top;}

.nav_menu { text-align: justify; width:411px; height:17px;float: left; margin-top:11px;}
.nav_menu::after { content:''; display: inline-block; width:100%; font-size:0;}
.nav_menu > li { display:inline-block;}
.nav_menu > li > span { color:#fff;}
.nav_sub { display:none;}
.nav_sub.on { display:block;}

/* sub - electronics */
.electronics { background-color: #fff; position: absolute; left: 0; right:0; top:64px;}
.electronics a { font-size:9px;}
.electronics > ul {  width:78.613861%; /* 1191/1515 */ margin:0 auto; padding-top:30px;}
.electronics > ul::after { content: ''; display: block; clear: both;}
.electronics > ul > li { width:25%; float:left; height:170px; margin-bottom:50px; padding-left:29px; box-sizing: border-box; border-left:1px solid #e4e4e4; position: relative;}
.electronics > ul > li:nth-child(4n+1) { border-left:none;padding-left: 0;}
.electronics ul li a.view_all {position: absolute; bottom:0; color:#615bef;}
.electronics ul li a span { color:#615bef; font-size:11px; display: block; margin-bottom:17px;}
/* ">>" 모양 웹아이콘썼음 */
.nav_sub2 > li + li { margin-top:13px;}
.electronics > a {display: none;}
/* nav - right side */
.nav_etc { font-size:0; float:right; color:#fff;}
.nav_etc li { display: inline-block;font-size:10px; height: inherit;}
.nav_etc li + li { margin-left: 2px;}
.nav_etc li.favorites { width:40px; text-align: right; font-size:15px; padding-right:10px;}		
.nav_etc li.search { background-color: #504d56;}
.nav_etc li.sony_sites { background-color: #2e353d;}


.nav_etc li a { color: inherit}
.nav_etc li a.boxBtn { padding: 10px 14px; display:inherit; vertical-align: middle;}
.nav_etc li.sony_sites a.boxBtn { padding:12px 29px 11px 14px;}
.nav_etc li.search a { font-size: 0;}
.nav_etc li.search span { font-size:10px; vertical-align: middle;}
.nav_etc li.search svg { vertical-align: middle;}
.nav_etc li.sony_sites span { position: relative; }
.nav_etc li.sony_sites span::after { content:''; position: absolute; top:0; right:-13px;border-bottom:4px solid #818088; border-top:4px solid transparent; border-right:4px solid transparent; border-left:4px solid transparent;}